<p>You have completed your profile. I'll look over the profile and send you a message once it's been confirmed. When you receive that message, then you can begin to use your identity on participating sites.</p>

<p>If your information changes, please update it. This entire experiment is based on having one place for storing verified, accurate information that you control and can use to put weight behind the things you care about.</p>

<p>This profile expires in 1 year. At that time, all information will need to be verified again to re-activate it.</p>

<%= link_to 'Logout', '/logout' %>

<%= link_to 'Edit Profile', user_edit_path %>